<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="outcomes">
            <h2><span jhiTranslate="famonelyApp.outcomes.detail.title">Outcomes</span> {{ outcomes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="famonelyApp.outcomes.date">Date</span></dt>
                <dd>
                    <span>{{ outcomes.date }}</span>
                </dd>
                <dt><span jhiTranslate="famonelyApp.outcomes.spentMoney">Spent Money</span></dt>
                <dd>
                    <span>{{ outcomes.spentMoney }}</span>
                </dd>
                <dt><span jhiTranslate="famonelyApp.outcomes.isMonthlyOutCome">Is Monthly Out Come</span></dt>
                <dd>
                    <span>{{ outcomes.isMonthlyOutCome }}</span>
                </dd>
                <dt><span jhiTranslate="famonelyApp.outcomes.isPlannedOutCome">Is Planned Out Come</span></dt>
                <dd>
                    <span>{{ outcomes.isPlannedOutCome }}</span>
                </dd>
                <dt><span jhiTranslate="famonelyApp.outcomes.outcomeType">Outcome Type</span></dt>
                <dd>
                    <div *ngIf="outcomes.outcomeType">
                        <a [routerLink]="['/outcome-type', outcomes.outcomeType?.id, 'view']">{{ outcomes.outcomeType?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="famonelyApp.outcomes.userSpendMoney">User Spend Money</span></dt>
                <dd>
                    <div *ngIf="outcomes.userSpendMoney">
                        <a [routerLink]="['/users-famonely', outcomes.userSpendMoney?.id, 'view']">{{ outcomes.userSpendMoney?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/outcomes', outcomes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
