<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-planned-outcomes-heading" jhiTranslate="famonelyApp.plannedOutcomes.home.createOrEditLabel">Create or edit a Planned Outcomes</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="famonelyApp.plannedOutcomes.plannedDate" for="field_plannedDate">Planned Date</label>
                    <div class="input-group">
                        <input id="field_plannedDate" type="text" class="form-control" name="plannedDate" ngbDatepicker #plannedDateDp="ngbDatepicker" formControlName="plannedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="plannedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="famonelyApp.plannedOutcomes.plannedMoney" for="field_plannedMoney">Planned Money</label>
                    <input type="number" class="form-control" name="plannedMoney" id="field_plannedMoney"
                           formControlName="plannedMoney"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="famonelyApp.plannedOutcomes.moneyToGoal" for="field_moneyToGoal">Money To Goal</label>
                    <input type="number" class="form-control" name="moneyToGoal" id="field_moneyToGoal"
                           formControlName="moneyToGoal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="famonelyApp.plannedOutcomes.isAlreadyPaid" for="field_isAlreadyPaid">Is Already Paid</label>
                    <input type="checkbox" class="form-control" name="isAlreadyPaid" id="field_isAlreadyPaid"
                           formControlName="isAlreadyPaid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="famonelyApp.plannedOutcomes.outcomeType" for="field_outcomeType">Outcome Type</label>
                    <select class="form-control" id="field_outcomeType" name="outcomeType" formControlName="outcomeType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="outcomeTypeOption.id === editForm.get('outcomeType')!.value?.id ? editForm.get('outcomeType')!.value : outcomeTypeOption" *ngFor="let outcomeTypeOption of outcometypes; trackBy: trackById">{{ outcomeTypeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
