<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stateOfMoney">
            <h2><span jhiTranslate="famonelyApp.stateOfMoney.detail.title">State Of Money</span> {{ stateOfMoney.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="famonelyApp.stateOfMoney.date">Date</span></dt>
                <dd>
                    <span>{{ stateOfMoney.date }}</span>
                </dd>
                <dt><span jhiTranslate="famonelyApp.stateOfMoney.money">Money</span></dt>
                <dd>
                    <span>{{ stateOfMoney.money }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/state-of-money', stateOfMoney.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
