<div>
    <h2 id="page-heading">
        <span jhiTranslate="famonelyApp.stateOfMoney.home.title">State Of Monies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-state-of-money" [routerLink]="['/state-of-money/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="famonelyApp.stateOfMoney.home.createLabel">
            Create a new State Of Money
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="stateOfMonies?.length === 0">
        <span jhiTranslate="famonelyApp.stateOfMoney.home.notFound">No stateOfMonies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="stateOfMonies && stateOfMonies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="famonelyApp.stateOfMoney.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="famonelyApp.stateOfMoney.money">Money</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stateOfMoney of stateOfMonies ;trackBy: trackId">
                    <td><a [routerLink]="['/state-of-money', stateOfMoney.id, 'view']">{{ stateOfMoney.id }}</a></td>
                    <td>{{ stateOfMoney.date | date:'mediumDate' }}</td>
                    <td>{{ stateOfMoney.money }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/state-of-money', stateOfMoney.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/state-of-money', stateOfMoney.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(stateOfMoney)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
